@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn {
    @apply bg-sky-500;
  }

  .title {
    @apply bg-sky-500;
  }

  .subTitle {
    @apply bg-sky-500;
  }

  .input {
    @apply bg-sky-500;
  }
  .bg-menu {
    @apply bg-white w-[85vw] h-[95vh] my-5 rounded-3xl p-10 mr-3;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  line-height: 1;
}
